$primary-red: #c93535; // Used for important elements
$text-black: #000000; // Used for text content
$background-black: #000000; // Used for dark backgrounds
$text-semi-transparent: rgba(
  0,
  0,
  0,
  0.66
); // Used for paragraphs, footer, city, prices
$light-background: #f4fafc; // Used for the footer background, ??
$text-white: #ffffff; // Used for white text // Used for light backgrounds

$title-font: "Montserrat", sans-serif;
$text-font: "Open Sans", sans-serif;
